{{template "layout" .}}
{{define "main"}}
<div class="container mt-5">
    <div class="card-columns" style="column-count:2 !important;">
        <div class="card bg-primary">
            <div class="card-body text-center">
            <p class="card-text">Water</p>
            </div>
        </div>
        <div class="card bg-primary">
            <div class="card-body text-center">
            <p class="card-text">Wind</p>
            </div>
        </div>
    </div>
    {{range $cuaca := .}}
    <div class="card-columns" style="column-count:2 !important;">
        <div class="card {{$cuaca.ClassWater}}">
            <div class="card-body text-center">
            <p class="card-text">{{$cuaca.StatusWater}}</p>
            <p class="card-text">{{$cuaca.Water}}</p>
            </div>
        </div>
        <div class="card {{$cuaca.ClassWind}}">
            <div class="card-body text-center">
            <p class="card-text">{{$cuaca.StatusWind}}</p>
            <p class="card-text">{{$cuaca.Wind}}</p>
            </div>
        </div>
    </div>
    {{end}}
</div>

{{end}}