{{template "layout" .}}
{{define "main"}}
<div class="container mt-5">
    <h3>NOW</h3>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Water
            <span class="badge {{.Realstatus.Water}} badge-pill text-light">{{.Realdata.Status.Water}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Wind
            <span class="badge {{.Realstatus.Wind}} badge-pill text-light">{{.Realdata.Status.Wind}}</span>
        </li>
    </ul>
    <h3>LOGS</h3>
    <div class="card-columns" style="column-count:2 !important;">
        <div class="card bg-primary">
            <div class="card-body text-center">
            <p class="card-text">Water</p>
            </div>
        </div>
        <div class="card bg-primary">
            <div class="card-body text-center">
            <p class="card-text">Wind</p>
            </div>
        </div>
    </div>
    {{range $data := .Listdata }}
    <div class="card-columns" style="column-count:2 !important;">
        <div class="card {{$data.ClassWater}}">
            <div class="card-body text-center">
            <p class="card-text">{{$data.StatusWater}}</p>
            <p class="card-text">{{$data.Water}}</p>
            </div>
        </div>
        <div class="card {{$data.ClassWind}}">
            <div class="card-body text-center">
            <p class="card-text">{{$data.StatusWind}}</p>
            <p class="card-text">{{$data.Wind}}</p>
            </div>
        </div>
    </div>
    {{end}}
</div>

{{end}}