{{template "layout" .}}
{{define "note"}}
<div class="container mt-5">
    <div class="card-columns" style="column-count:2 !important;">
        <div class="card bg-primary">
            <div class="card-body text-center">
            <p class="card-text">Water</p>
            </div>
        </div>
        <div class="card bg-primary">
            <div class="card-body text-center">
            <p class="card-text">Wind</p>
            </div>
        </div>
    </div>
    <div class="card-columns" style="column-count:2 !important;">
        <div class="card bg-success">
            <div class="card-body text-center">
            <p class="card-text">AMAN</p>
            <p class="card-text">Kurang Dari 5</p>
            </div>
        </div>
        <div class="card bg-success">
            <div class="card-body text-center">
            <p class="card-text">AMAN</p>
            <p class="card-text">Kurang Dari 6</p>
            </div>
        </div>
    </div>
    <div class="card-columns" style="column-count:2 !important;">
        <div class="card bg-warning">
            <div class="card-body text-center">
            <p class="card-text">SIAGA</p>
            <p class="card-text">6 - 8</p>
            </div>
        </div>
        <div class="card bg-warning">
            <div class="card-body text-center">
            <p class="card-text">SIAGA</p>
            <p class="card-text">7 - 15</p>
            </div>
        </div>
    </div>
    <div class="card-columns" style="column-count:2 !important;">
        <div class="card bg-danger">
            <div class="card-body text-center">
            <p class="card-text">BAHAYA</p>
            <p class="card-text">Lebih Dari 8</p>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body text-center">
            <p class="card-text">BAHAYA</p>
            <p class="card-text">Lebih Dari 15</p>
            </div>
        </div>
    </div>
</div>

{{end}}